* {
    box-sizing: border-box;
} 

input {
	display: block;
	min-width: 100%;
}
.wrapper {
	width: 400px;
	margin: 40px auto 0 auto;
	border: 1px solid rgba(0,0,0, .2);
	padding: 20px;
}

button {
    margin-top: 20px;
}

.btn {
	background-color: rgb(93, 93, 255);
	color: white;
	display: block;
	min-width: 100%;
	padding: 10px;
}

.btn.btn-primary {
	background-color: blue;
}

[type=checkbox] {
    margin-top: 20px;
}